{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dogan | Falcon</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <link rel="stylesheet" href="{% static 'vendors/dropify/dropify.min.css' %}">
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/jsgrid/jsgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jsgrid/jsgrid-theme.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/classic-vertical/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'imagesFalcon/favicon.png' %}"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item account-dropdown">
                <a class="nav-link" data-toggle="collapse" href="#account-dropdown" aria-expanded="false"
                   aria-controls="account-dropdown">
                    <img class="img-xs rounded-circle" src="{% static 'imagesFalcon/faces-clipart/pic-1.png' %}" alt="">
                    <p class="mb-0 text-light">{{ request.user.username }}</p>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="account-dropdown">
                    <ul class="nav flex-column sub-menu pl-0">
                        <li class="nav-item">
                            <a class="nav-link pl-5" href="{% url 'profile' %}">
                    <span class="menu-icon">
                      <i class="mdi mdi-account"></i>
                    </span>
                                <span class="menu-title">Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-5" href="{% url 'subscriptions' %}">
                    <span class="menu-icon">
                      <i class="mdi mdi-checkbook"></i>
                    </span>
                                <span class="menu-title">Subscriptions</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-5" href="{% url 'logout' %}">
                    <span class="menu-icon">
                      <i class="mdi mdi-power"></i>
                    </span>
                                <span class="menu-title">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="{% url 'dashboard' %}">
              <span class="menu-icon">
                <i class="mdi mdi-apps"></i>
              </span>
                    <span class="menu-title">Data Center</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="{% url 'analysis' %}">
                <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
                    <span class="menu-title">Analysis</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="{% url 'settings' %}">
              <span class="menu-icon">
                <i class="mdi mdi-settings"></i>
              </span>
                    <span class="menu-title">Settings</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">
                        <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                            <input type="text" class="form-control" placeholder="Search Here..">
                        </form>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial <div id="js-grid"></div>-->
        <div class="main-panel">

            <div class="content-wrapper">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<footer class="footer">
    <p></p>
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
            Copyright © 2020 <a href="/" target="_blank">Dogan Technologies</a>. All rights reserved.
        </span>
    </div>
</footer>
<!-- partial -->

<!-- main-panel ends -->

<!-- page-body-wrapper ends -->

<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/jsgrid/jsgrid.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/misc.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static 'vendors/dropify/dropify.min.js' %}"></script>
<script src="{% static 'js/js-grid.js' %}"></script>
<script src="{% static 'js/db.js' %}"></script>
<script src="{% static 'js/dropify.js' %}"></script>
<!-- End custom js for this page -->
{% block scripts %}
{% endblock %}
</body>
</html>