{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" align="center">Billing History</h3>
                <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse todo-list">

                        {% for invoice in invoices %}
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input>{{ invoice.paid_at | date }}</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input>{{ invoice.invoice_no }}</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input>{{ invoice.amount }}</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input>{{ invoice.paid }}</label>
                                </div>
                            </li>
                        {% endfor %}
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input>Date</label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input>Invoice No</label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input>Amount</label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input>Paid?</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}