{% extends "base.html" %}
{% block title %}Subscribe using PayPal{% endblock %}
{% block content %}
    <section class="section bg-gray">
        <div class="container">
            <div class="row gap-y text-center">
                <div class="col-12 col-md-4"></div>
                <div class="col-12 col-md-4">
                    <div class="pricing-1">
                        <p class="plan-name">{{ plan.name }}</p>
                        <br>
                        <h2 class="price text-success">
                            <span class="price-unit">$</span>{{ plan.price }}
                        </h2>
                        <br>
                        {% for feature in plan.features.all %}
                            <small>{{ feature.name }}</small>
                            <br>
                        {% endfor %}
                        <br>
                        {{ form.render }}
                    </div>
                </div>
                <div class="col-12 col-md-4"></div>
            </div>
        </div>
    </section>
{% endblock %}