{% extends "base.html" %}
{% block title %}Subscribe{% endblock %}
{% block content %}
    <div class="card-body">
        <div class="container text-center pt-5">
            <h4 class="mb-3 mt-5">Start utilizing your data today!</h4>
            <p class="w-75 mx-auto mb-5">
                Choose a plan that suits you the best. We offer a 7 day trial!
            </p>
            <div class="row pricing-table">
                {% for plan in plans %}
                    <div class="col-md-4 grid-margin stretch-card pricing-card">
                        <div class="card {% if forloop.counter|divisibleby:2 %}border-success{% else %}border-primary{% endif %} border pricing-card-body">
                            <div class="text-center pricing-card-head">
                                <h3 class="{% if forloop.counter|divisibleby:2 %}text-success{% else %}text-blue{% endif %}">{{ plan.name }}</h3>
                                <p>{{ plan.description }}</p>
                                <h1 class="font-weight-normal mb-4">
                                    {% if plan.price %}
                                        ${{ plan.price }}
                                    {% else %}
                                        Contact Us
                                    {% endif %}
                                </h1>
                            </div>
                            <ul class="list-unstyled plan-features">
                                {% for feature in plan.features.all %}
                                    <li>{{ feature.name }}</li>
                                {% endfor %}
                            </ul>

                            {% if plan.price %}
                                <div class="wrapper">
                                    <a href="{% url 'start-trial' %}"
                                       class="btn {% if forloop.counter|divisibleby:2 %}btn-success{% else %}btn-outline-primary{% endif %} btn-block">
                                        {{ trial_text }}
                                    </a>
                                </div>
                                <a href="{% url 'subscribe' plan_id=plan.id %}">
                                    <p class="mt-3 mb-0 plan-cost {% if forloop.counter|divisibleby:2 %}text-success{% else %}text-blue{% endif %}">
                                        {% if has_subscription %}
                                            Active
                                        {% else %}
                                            or Purchase Now
                                        {% endif %}
                                    </p>
                                </a>
                            {% else %}
                                <div class="wrapper">
                                    <a href="#"
                                       class="btn {% if forloop.counter|divisibleby:2 %}btn-success{% else %}btn-outline-primary{% endif %} btn-block">
                                        Contact Us
                                    </a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- partial -->
{% endblock %}
