{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-12 grid-margin">
        <div class="card">

            <div style="text-align: center;">
                <iframe id="lab-container"
                        src='{{ host_url }}'
                        target="_self" allowfullscreen="allowfullscreen"
                        style="border:none;overflow-x:scroll !important;overflow-y: scroll !important;">
                    >
                </iframe>
            </div>
        </div>
    </div>
{% endblock %}
<!-- End custom js for this page -->
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="text/javascript">
        let container = document.getElementById("lab-container");

        function resize() {
            let height = container.contentWindow.document.body.scrollHeight;
            container.height = height === 0 ? '1000px' : height;
            container.width = '100%';
        }

        function OnLoad() {
            resize();

            setInterval(() => {
                resize();

                let frameLocation = container.contentWindow.location.href;
                if (frameLocation.includes('spawn-pending')) {
                    setTimeout(() => {
                        window.location.reload();
                    }, 4000);
                }
            }, 5000);

            setInterval(() => {
                resize();

                let frameLocation = container.contentWindow.location.href;
                if (frameLocation.includes('/jupyter/user/') && frameLocation.includes('/lab') && !frameLocation.includes('{{ current_user }}')) {
                    let jupyterLogoutUrl = `{{ host_url }}hub/logout`;

                    fetch(jupyterLogoutUrl).then(() => {
                        console.log('logged out from the jupyterhub');
                        window.location.reload();
                    });
                }
            }, 250);
        }

        window.addEventListener('load', OnLoad, true);
    </script>
{% endblock %}
