{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}

    <div class="col-lg-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <br>
                <h4 class="card-title">Open</h4>
                <form method="POST" action="{% url 'dashboard' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                    </div>
                    <input type="file" name="csv_file" class="dropify form-control"
                           data-allowed-file-extensions="csv"/>
                    <br>
                    <br>
                    <center>
                        <div class="btn-group form-group">
                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">New
                            </button>
                            <div class="dropdown-menu">
                                <button type="submit" class="dropdown-item">
                                    New File
                                </button>
                                <a class="dropdown-item" href="{% url 'createFile' %}">From
                                    Template
                                </a>
                            </div>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Files</h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row portfolio-grid">
                                        {% for file in files %}
                                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                                                <figure class="effect-text-in">
                                                    <img src="{% static 'imagesFalcon/samples/300x300/1.jpg' %}"
                                                         alt="image"/>
                                                    <figcaption>
                                                        <h4>
                                                            {% if '.csv' in file %}
                                                                <a href="{% url 'grid-view' %}?file_name={{ file }}">
                                                                    {{ file }}
                                                                </a>
                                                            {% else %}
                                                                {{ file }}
                                                            {% endif %}
                                                        </h4>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
