{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}
    <div class="page-header">
        <h3 class="page-title"> Grid View </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Data Center</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ file_name }}</li>
            </ol>
        </nav>
    </div>

    <div class="row grid-margin">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ file_name }}</h4>ƒ
                    <div id="grid-view"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- End custom js for this page -->
{% block scripts %}
    <script type="text/javascript">
        let file_data = {{ file_data|safe }};
        let columns = Object.keys(file_data[0])

        let fields = [];

        for (const column of columns) {
            fields.push({
                name: column,
                type: typeof(column)
            })
        }

        if ($("#grid-view").length) {
            $("#grid-view").jsGrid({
                height: "500px",
                width: "100%",
                sorting: true,
                paging: true,
                pageSize: 15,
                data: file_data,
                fields: fields
            });
        }

        console.log('data', file_data);
        console.log(fields)
    </script>
{% endblock %}
