{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Dogan Technologies"/>
    <meta name="description" content="Dogan Technologies is a Artificial Intelligence based Software company offering AI and data solutions to
organizations. Our solutions cover apps, analytics, machine learning...">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dogan | Home</title>

    <!-- Royal Preloader CSS -->
    <link href="{% static 'css/royal_preloader.css' %}" rel="stylesheet">

    <!-- jQuery Files -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Parallax File -->
    <script type="text/javascript" src="{% static 'js/parallax.min.js' %}"></script>

    <!-- Royal Preloader -->
    <script type="text/javascript" src="{% static 'js/royal_preloader.min.js' %}"></script>
    <script type="text/javascript">
        Royal_Preloader.config({
            mode: 'number',
            showProgress: false,
            background: '#1d1d1d'
        });
    </script>
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>

    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/pe-icon-7-stroke.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/logoiconfont.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" title="main-css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base-light.css' %}" title="base-light">

    <link rel="stylesheet" type="text/css" href="{% static 'css/colors/orange.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'images/header-orange.jpg' %}"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141803826-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-141803826-1');
    </script>


</head>

<body class="royal_preloader" data-spy="scroll" data-target=".navbar" data-offset="90">
<div id="royal_preloader"></div>


<!-- Begin Header -->
<header>
    <!-- Begin Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <img src="{% static 'images/title.jpg' %}" height="100" width="170">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home" data-id="home" class="scroll-link">Home</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="#ideology" data-id="ideology" class="scroll-link">Expertise</a></li>
			            <li><a href="#services" data-id="services" class="scroll-link">Solutions</a></li>
                        <li><a href="#about" data-id="about" class="scroll-link">About</a></li>
                        <li><a href="https://medium.com/@doganai">Blog</a></li>
                        <li><a href="#contact" data-id="contact" class="scroll-link">Contact</a></li>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Header -->

<!-- Begin Jumbotron -->
<div class="jumbotron jumbotron-main" id="home">
    <div id="particles-js"></div><!-- /.particles div -->
    <div class="container center-vertically-holder">
        <div class="center-vertically">
            <div id="scaleReveal" class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                <img src="{% static 'images/header.jpg' %}" height="75" width="75">
                <br>
                <div class="ticker">
		    <h1>Software</h1>
		    <h1>Artificial Intelligence</h1>
            <h1>Machine Learning</h1>
            <h1>Deep Learning</h1>
		    <h1>Data Mining</h1>
		    <h1>Analytics</h1>
                </div>
                <br>
		    <p>We create software to harness the power of data.</p>
                <a href="#services" data-id="services" class="scroll-link btn btn-default btn-white btn-lg mt15">Our Solutions</a>
		    <!-- Calendly link widget begin -->
                <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/dogantech/15min'});return false;" data-id="contact" class="scroll-link btn btn-default btn-white btn-lg mt15">Book A
                    Demo</a>

            </div><!-- /.column -->
        </div><!-- /.vertical center -->
    </div><!-- /.container -->
</div>
<!-- End Jumbotron -->

<!-- Begin Intro -->
<section id="ideology">

    <!-- Begin Hello Intro -->
    <div id="hello-intro" class="pt60 pb60">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <h2 class="no-margin rotateLeftReveal" align="center">AI Powered Solutions.</h2>
                </div>
                <div class="col-lg-8 col-sm-9 mt30-xs">
			<p class="no-margin rightReveal"><b>Dogan Technologies</b> provides software and artificial intelligence-based solutions to organizations. Many businesses face difficulty in utilizing their data to make informed decisions as their data is not organized in one place.<strong> Our platform utilizes your existing data and transforms it to identify future trends.</strong></p>
                </div>
            </div><!-- /.row -->
            <div class="row">
                <br>

                <style>.embed-container {
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    max-width: 100%;
                }

                .embed-container iframe, .embed-container object, .embed-container embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }</style>
                <div class='embed-container'>
                    <iframe src='https://www.youtube.com/embed/onJGOoRMjpk?rel=0&amp;autoplay=1&mute=1' frameborder='0' allowfullscreen></iframe>
                </div>
            </div><!-- /.container -->
        </div><!-- /.div -->
        <!-- End Hello Intro -->

        <!-- Begin Our Process Title -->
        <div id="our-process-title" class="pt30 pb30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h4 class="no-margin">Our Expertise</h4>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.div -->
        <!-- End Our Process Title -->

        <!-- Begin Our Process -->
        <div id="our-process">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
                        <div class="leftReveal">
                            <div class="process-intro">
                                <div><span class="process-icons pe-7s-video rotateBottomReveal"></span></div>
                                <h2>Computer<br>Vision</h2>
                            </div>
                            <div class="process-content">
                                <div><span class="process-icons pe-7s-video"></span></div>
                                <h2 class="mt15 mb20">Computer<br>Vision</h2>
                                <p class="no-margin">We specialize in computer vision algorithm development to drive innovation in organizations. We tailor computer vision services directly to your specific needs. We can help with the automation of visual tasks, computer vision consulting, or building new products from scratch.</p>
                            </div>
                        </div><!-- /.animation -->
                    </div><!-- /.column -->
                    <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
                        <div class="leftReveal">
                            <div class="process-intro">
                                <div><span class="process-icons pe-7s-comment rotateBottomReveal"></span></div>
                                <h2>Natural<br>Language<br>Processing</h2>
                            </div>
                            <div class="process-content">
                                <div><span class="process-icons pe-7s-comment"></span></div>
                                <h2 class="mt15 mb20">Natural<br>Language<br>Processing</h2>
                                <p class="no-margin">NLP is being integrated into most sophisticated Chatbots and Virtual Assistants. We can combine NLP and machine learning (ML) to help gain insights into human-generated, natural language text documents.</p>
                            </div>
                        </div><!-- /.animation -->
                    </div><!-- /.column -->
                    <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
                        <div class="leftReveal">
                            <div class="process-intro">
                                <div><span class="process-icons pe-7s-graph1 rotateBottomReveal"></span></div>
                                <h2>Predictive<br>Analytics</h2>
                            </div>
                            <div class="process-content">
                                <div><span class="process-icons pe-7s-graph1"></span></div>
                                <h2 class="mt15 mb20">Predictive<br>Analytics</h2>
                                <p class="no-margin">Our predictive analytics services range from data strategy consulting and custom machine learning-based model development to end-to-end predictive analytics software development. By leveraging data mining, artificial intelligence, and machine learning, companies can reach their most valuable audiences.</p>
                            </div>
                        </div><!-- /.animation -->
                    </div><!-- /.column -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.div -->
        <!-- End Our Process -->

        <!-- Begin Quote Carousel -->
        <div id="carousel" class="testimonial-carousel pt40 pb20">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <span class="pe-7s-close heading-3-icon"></span>
                        <h2 class="heading-3">Testimonials</h2>
                        <div class="fade-quote-carousel carousel slide" id="quote-carousel" data-ride="carousel"
                             data-interval="3000">
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#quote-carousel" data-slide-to="1"></li>
                                <li data-target="#quote-carousel" data-slide-to="2"></li>
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item">
                                    <blockquote>
                                        <p>"Good communication and adhered to deadlines. Code was well-commented. Would
                                            work with again." - Matthew T.</p>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <p>"Their team is smart, communicative and clear. I enjoyed working with them on this
                                            short but important project. I'd recommend him to others without question."
                                            - Josh of Streamline Global Group </p>
                                    </blockquote>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        <p>"Very seamless in communication, and did a great job on the project! Would
                                            love to work with them again in the near future and would recommend them based
                                            on their computer vision skills." - Andy of BeMyApp </p>
                                    </blockquote>
                                </div>
                            </div>

                        </div><!-- /.carousel -->
                    </div><!-- /.column -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.carousel -->
        <!-- End Quote Carousel -->

</section><!-- /.section -->
<!-- End Intro -->

<!-- Begin Services -->
<section id="services" class="background2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 section-title text-center">
                <h2>Solutions</h2>
                <span class="section-divider"></span>
            </div><!-- /.column -->
        </div><!-- /.row -->
	    
	 <center>
          <a href="/download_ai_paper">
           <button class="filter btn btn-default btn-category btn-lg">By Industry</button>
           </a>
         </center>

        <div class="row">
            <!-- Item 1 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
                <div class="services-box leftReveal">
                    <span class="pe-7s-airplay services-icon"></span>
                    <h3 class="service-name">1. Software</h3>
                    <p class="text-small">Our team of consultants and developers take care of end-to-end development of both
                        the front end and the back end. We utilize data analytics techniques to model raw data into
                        useful information that supports your software. Our team is able to deliver quality products on
                        time and at competitive costs.</p>
                </div>
            </div><!-- /.column -->


            <!-- Item 2 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
                <div class="services-box topReveal">
                    <span class="pe-7s-phone services-icon"></span>
                    <h3 class="service-name">2. Applications</h3>
                    <p class="text-small">We create applications on the cloud, and create mobile applications for users.
                        Our team is experienced in creating Android and iOS applications. We create the software based
                        on your needs, so you do not have to over pay. We have years of programming experience, so you
                        do not have to code anything.</p>
                </div>
            </div><!-- /.column -->

            <!-- Item 3 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
                <div class="services-box bottomReveal">
                    <span class="pe-7s-server services-icon"></span>
                    <h3 class="service-name">3. Data Mining</h3>
                    <p class="text-small">We are an experienced team of software developers, and we also know how to manage your data. With our data platform, you can uncover trends, common themes or patterns in your data. We can help your business effectively manage data and make data-driven decisions. Contact us today to learn more about our solutions!</p>
                </div>
            </div><!-- /.column -->

            <!-- Item 4 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
                <div class="services-box bottomReveal">
                    <span class="pe-7s-science services-icon"></span>
                    <h3 class="service-name">4. Algorithms and Analytics</h3>
                    <p class="text-small">Our experts provide Artificial Intelligence-driven products to organizations for
                        reimagining their businesses for the digital age. We offer an integrated portfolio of
                        technology, products and services to startups and large enterprises that face difficulties with
                        new data initiatives. We help the enterprises to discover insights from big data and enable them to
                        automate their processes using analytics.</p>
                </div>
            </div><!-- /.column -->

            <!-- Item 5 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
                <div class="services-box leftReveal">
                    <span class="pe-7s-tools services-icon"></span>
                    <h3 class="service-name">5. Machine Learning</h3>
                    <p class="text-small">We develop machine learning solutions for businesses that allow them to stay
                        ahead of the competition. Our solutions are put together on the latest, most advanced
                        technologies and algorithms, so that your business can receive all the benefits of cost
                        efficiency, scalability, flexibility, manageability, and security. We create milestones for your
                        project and inform you about every aspect.</p>
                </div>
            </div><!-- /.column -->

            <!-- Item 6 -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30-sm mt30">
                <div class="services-box rightReveal">
                    <span class="pe-7s-share services-icon"></span>
                    <h3 class="service-name">6. Deep Learning</h3>
                    <p class="text-small">All our consultants have years of industry experience in delivering deep
                        learning projects. They understand your business and the specific AI solutions that will deliver
                        you the best results. Our developers work on all types of projects and deploy applications on
                        the cloud. Our image recognition algorithms use deep learning to detect objects and can be used
                        in image segmentation. </p>
                </div>
            </div><!-- /.column -->


        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.section -->
<!-- End Services -->

<!-- Begin About -->
<section id="about" class="background1 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 section-title text-center">
                <h2>About Our AI solutions company</h2>
                <span class="section-divider"></span>
            </div><!-- /.column -->
        </div><!-- /.row -->
        <div class="row mb15">
            <div class="col-sm-5 leftReveal">
                <h5 class="heading-1 mb20">Our Trade</h5>
                <h3 class="mb15 no-margin-top">Coding, Researching, and <br>Innovating for people like you...</h3>
		   <p>Our team works to overachieve, that is why we are so different. Dogan Technologies is made up of professors, entrepreneurs, scientists, and developers.</p>
            </div><!-- /.column -->
            <div class="col-sm-7 mt30-xs rightReveal">
                <h5 class="heading-1 mb20">How we started it</h5>
                <p>Dogan Technologies has worked with Fortune 500 companies and startups in various industries. Our team believes the power of software and artificial intelligence can change
                    the world, that is why we created <b>Dogan Technologies.</b></p>
            </div><!-- /.column -->
        </div><!-- /.row -->
        <div class="row mb30">
            <div class="col-sm-9 leftReveal">
                <h5 class="heading-1 mb20">Why?</h5>
                <p class="lead no-margin">Data presents a clear business value, but it’s up to organizations to understand and recognize the significance of their data. We offer an integrated portfolio of technology, products, and services to start-ups and large enterprises that face difficulties with new data initiatives.</p>
            </div><!-- /.column -->
            <div class="col-sm-3 mt30-xs rightReveal">
                <h5 class="heading-1 mb20">The Solution</h5>
                <p class="no-margin text-small"><i>We help organizations manage and understand the potential implications in their data.</i></p>
            </div><!-- /.column -->
        </div><!-- /.row -->
	    
	         <center>
                    <a href="{% url 'download_white_paper' %}">
                        <button class="filter btn btn-default btn-category btn-lg">Download Whitepaper</button>
                    </a>
                </center>

    </div><!-- /.container -->
</section><!-- /.section -->
<!-- End About -->

</div><!-- /.row -->
</div><!-- /.container -->
</section><!-- /.section -->
<!-- End Our Count -->



<!-- Begin Contact -->
<section id="contact" class="background2 section-padding">
    <div class="container">
        <div class="row mb30">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
                <h2>Contact</h2>
                <span class="section-divider mb15"></span>
                <p class="no-margin scaleReveal">Our team is from the United States, but our customers live all over the
                    world.</p>

                <br></br>

                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-success text-xs-small">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div><!-- /.column -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-sm-5 col-lg-4">
                <h5 class="heading-1 mb20">Send Us Mail</h5>
                <h4 class="mb15">837 Boston Post Road<br>Old Saybrook, Connecticut 06475</h4>
                <p class="no-margin text-xs-small">Contact us today and learn more about <strong>our work</strong>.</p>
                <hr class="mini-hr">
                <p class="text-xs-small mb5"><strong class="text-switch">Email:</strong> info@dogan.ai</p>
                <p class="text-xs-small mb5"><strong class="text-switch">Phone:</strong> +1 203-200-0494</p>
            </div><!-- /.column -->
            <div class="col-sm-6 col-lg-7 mt30-xs">
                <form data-toggle="validator" id="contact" name="contact" method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input class="form-control" data-error="This section is required."
                                           name="msg_subject" placeholder="Subject *" required="" type="text">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div><!-- /.column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input class="form-control" name="phone" placeholder="Phone" type="text">
                                </div>
                            </div>
                        </div><!-- /.column -->
                    </div><!-- /.row -->
                    <div class="row mb10">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input class="form-control" data-error="This section is required." name="name"
                                           placeholder="Your Name *" required="" type="text">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div><!-- /.column -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="controls">
                                    <input class="email form-control" data-error="This section is required."
                                           name="email" placeholder="Email *" required="" type="email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div><!-- /.column -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="controls">
                                    <textarea class="form-control" data-error="This section is required." name="message"
                                              placeholder="Message *" required="" rows="5"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt15">
                        <div class="col-sm-6">
                            <div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div>
                        </div><!-- /.column -->
                        <div class="col-sm-6 text-right">
                            <button type="submit" id="submit" class="btn btn-default btn-lg">Send</button>
                        </div><!-- /.column -->
                    </div><!-- /.row -->
                </form><!-- /.form -->
            </div><!-- /.column -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.section -->
<!-- End Contact -->

<!-- Begin Footer -->
<footer class="footer-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <a href="https://twitter.com/dogan_ai"><span
                        class="ion-social-twitter social-icons-dark-hover mr15"></span></a>
                <a href="https://www.linkedin.com/company/doganai"><span
                        class="ion-social-linkedin social-icons-dark-hover mr15"></span></a>
                <a href="https://www.facebook.com/dogantech"><span
                        class="ion-social-facebook social-icons-dark-hover mr15"></span></a>
                <a href="https://www.instagram.com/dogan.ai/?hl=en"><span
                        class="ion-social-instagram social-icons-dark-hover mr15"></span></a>
		<a href="http://www.youtube.com/c/DOGANTechnologies"><span
                        class="ion-social-youtube social-icons-dark-hover mr15"></span></a>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-small text-center">
                <hr>
                <button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
                <p class="no-margin">&copy; Copyright DOGAN AI</p>
            </div><!-- /.column -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer><!-- /.footer -->
<!-- Begin Footer -->

<!-- Javascript Files -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/particles.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/particlesRun.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mixitup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form-validator.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
<script type="text/javascript">
    /* ---- Counter (our count) ---- */
    $('#ourcount').one('inview', function (event, isInView) {
        if (isInView) {
            $('.timer').countTo({speed: 3000});
        }
    });
</script>
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scrollreveal.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>
