{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" align="center">Profile</h3>
                <div class="divider" style="margin-top: 1rem;"></div>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-3">
                            <div class="text-muted">Name:
                            </div>
                        </div>
                        <div class="col-10">
                            <p style="word-break: break-all;white-space: normal;"> {{ request.user.username }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="text-muted">Email:
                            </div>
                        </div>

                        <div class="col-10">
                            <p style="word-break: break-all;white-space: normal;"> {{ request.user.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}