{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dogan | Register</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/classic-vertical/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'imagesFalcon/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
              <br>
              <br>
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <center><a href="{% url 'index' %}"><img src="{% static 'imagesFalcon/logo.jpg' %}" alt="logo" width="75" /></a></center>
                <br>
                <h4 class=text-center style="color:red;">{{ test5 }}</h4>
                <form method="post" action="{% url 'register' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control p_input" required="">
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control p_input" required="">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password"  class="form-control p_input" required="">
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" name="password2" class="form-control p_input" required="">
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                    </div>
                    <a href="#" class="forgot-pass text-warning">Forgot password</a>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn btn-warning">Register</button>
                  </div>
                  <p class="sign-up text-center">Already have an Account?<a href="{% url 'login' %}" class="text-warning"> Sign In</a></p>
                  <p class="terms">By creating an account you are accepting our <a href="#" class="text-warning">Terms & Conditions</a></p>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static vendors/js/vendor.bundle.base.js' "></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
  </body>
</html>