{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dogan | Falcon</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <link rel="stylesheet" href="{% static 'vendors/dropify/dropify.min.css' %}">
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/jsgrid/jsgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jsgrid/jsgrid-theme.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/classic-vertical/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'imagesFalcon/favicon.png' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="{% url 'index' %}"><img src="{% static 'imagesFalcon/logo.jpg' %}" alt="logo"  /></a>
        </div>
        <ul class="nav">
          <li class="nav-item account-dropdown">
            <a class="nav-link" data-toggle="collapse" href="#account-dropdown" aria-expanded="false" aria-controls="account-dropdown">
              <img class="img-xs rounded-circle" src="{% static 'imagesFalcon/faces-clipart/pic-1.png' %}" alt="">
              <p class="mb-0 text-light">User</p>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="account-dropdown">
              <ul class="nav flex-column sub-menu pl-0">
                <li class="nav-item">
                  <a class="nav-link pl-5" href="#">
                    <span class="menu-icon">
                      <i class="mdi mdi-account"></i>
                    </span>
                    <span class="menu-title">Profile</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-5" href="#">
                    <span class="menu-icon">
                      <i class="mdi mdi-wrench"></i>
                    </span>
                    <span class="menu-title">Settings</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-5" href="#">
                    <span class="menu-icon">
                      <i class="mdi mdi-power"></i>
                    </span>
                    <span class="menu-title">Logout</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <span class="menu-icon">
                <i class="mdi mdi-apps"></i>
              </span>
              <span class="menu-title">Data Center</span>
            </a>
          </li>
                    <li class="nav-item menu-items">
            <a class="nav-link" href="index.html">
              <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span>
              <span class="menu-title">Analysis</span>
            </a>
          </li>
                    <li class="nav-item menu-items">
            <a class="nav-link" href="index.html">
              <span class="menu-icon">
                <i class="mdi mdi-settings"></i>
              </span>
              <span class="menu-title">Settings</span>
            </a>
          </li>

          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input type="text" class="form-control" placeholder="Search Here..">
                </form>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial <div id="js-grid"></div>-->
        <div class="main-panel">

  <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Files</h3>
              </nav>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="row portfolio-grid">
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="{% static 'imagesFalcon/samples/300x300/1.jpg' %}" alt="image" />
                              <figcaption>
                                <h4>Table 1</h4>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="{% static 'imagesFalcon/samples/300x300/1.jpg' %}" alt="image" />
                              <figcaption>
                                <h4>Table 2 renamed</h4>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="{% static 'imagesFalcon/samples/300x300/1.jpg' %}" alt="image" />
                              <figcaption>
                                <h4>Finance Data 2019</h4>
                              </figcaption>
                            </figure>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="{% static 'imagesFalcon/samples/300x300/1.jpg' %}" alt="image" />
                                <figcaption>
                                <h4>Finance Data 2018</h4>
                              </figcaption>

                          </div>
                           <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <figure class="effect-text-in">
                              <img src="{% static 'imagesFalcon/samples/300x300/1.jpg' %}" alt="image" />
                                <figcaption>
                                <h4>Finance Data 2018</h4>
                              </figcaption>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
              </div>
              </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="/" target="_blank">Dogan Technologies</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js'  %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/jsgrid/jsgrid.min.js'  %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js'  %}"></script>
    <script src="{% static 'js/hoverable-collapse.js'  %}"></script>
    <script src="{% static 'js/misc.js'  %}"></script>
    <script src="{% static 'js/settings.js'  %}"></script>
    <script src="{% static 'js/todolist.js'  %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'vendors/dropify/dropify.min.js'  %}"></script>
    <script src="{% static 'js/js-grid.js'  %}"></script>
    <script src="{% static 'js/db.js'  %}"></script>
    <script src="{% static 'js/dropify.js'  %}"></script>
    <!-- End custom js for this page -->
  </body>
</html>