{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}
    <div class="col-lg-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title" align="center">Settings</h3>
                <div class="add-items d-flex">
                    <input type="text" class="form-control todo-list-input" placeholder="Add email to invite users">
                    <button class="add btn btn-primary font-weight-bold todo-list-add-btn btn-danger" id="add-task">Add
                    </button>
                </div>
                <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse todo-list">
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input>john@dogan.ai</label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input>matthew@dogan.ai</label>
                            </div>
                            <i class="remove mdi mdi-close-circle-outline"></i>
                        </li>

                    </ul>
                </div>
                <br>
                <h3 class="card-title" align="center">Subscriptions</h3>

                <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse todo-list">
                        <li>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <a href="{% url 'history' %}">Billing history</a>
                                </label>
                            </div>

                        </li>
                    </ul>
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}